:root {
    --ff-primary: 'FONTSPRING DEMO - Commuters Sans';


    --fs-sm: 16px;
    --fs-md: 50px;


    --light: 300;
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;
    --extraBold: 800;
    --extraLarge: 900;


    --primary-color: #222B32;
    --secondary-color: #252B42;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --blue-color: #8093F6;
    --dark-color: #2091F9;
    --dot-color: #1A74C7;
}

.ff_primary {
    font-family: var(--ff-primary) !important;
}

.fs_xs {
    font-size: var(--fs-xs);
}

.fs_2xs {
    font-size: var(--fs-2xs);
}

.fs_3xs {
    font-size: var(--fs-3xs);
}

.fs_sm {
    font-size: var(--fs-sm) !important;
}

.fs_2sm {
    font-size: var(--fs-2sm) !important;
}

.fs_3sm {
    font-size: var(--fs-3sm) !important;
}

.fs_md {
    font-size: var(--fs-md) !important;
}

.fs_2md {
    font-size: var(--fs-2md) !important;
}

.fs_3md {
    font-size: var(--fs-3md) !important;
}

.fs_lg {
    font-size: var(--fs-lg) !important;
}

.fs_2lg {
    font-size: var(--fs-2lg) !important;
}

.fs_3lg {
    font-size: var(--fs-3lg) !important;
}

.fs_xl {
    font-size: var(--fs-xl) !important;
}

.fs_2xl {
    font-size: var(--fs-2xl) !important;
}

.fs_3xl {
    font-size: var(--fs-3xl) !important;
}

.fs_xxl {
    font-size: var(--fs-xxl) !important;
}

.fw_light {
    font-weight: var(--light) !important;
}

.fw_regular {
    font-weight: var(--regular) !important;
}

.fw_medium {
    font-weight: var(--medium) !important;
}

.fw_semiBold {
    font-weight: var(--semiBold) !important;
}

.fw_bold {
    font-weight: var(--bold) !important;
}

.fw_extraBold {
    font-weight: var(--extraBold) !important;
}

.fw_extraLarge {
    font-weight: var(--extraLarge) !important;
}

.bg_primary {
    background-color: var(--primary-color);
}

.bg_secondary {
    background-color: var(--secondary-color);
}

.bg_white {
    background-color: var(--white-color);
}

.bg_black {
    background-color: var(--black-color);
}

.bg_blue {
    background-color: var(--blue-color);
}

.bg_dark {
    background-color: var(--dark-color);
}

.color_primary {
    color: var(--primary-color);
}

.color_secondary {
    color: var(--secondary-color);
}

.color_white {
    color: var(--white-color);
}

.color_black {
    color: var(--black-color);
}

.color_blue {
    color: var(--blue-color);
}

.color_dot {
    color: var(--dot-color);
}

@media (min-width:576px) {
    :root {
        --fs-xs: 12px;
        --fs-2xs: 14px;
        --fs-3xs: 15px;
        --fs-sm: 16px;
        --fs-2sm: 16px;
        --fs-3sm: 17px;
        --fs-md: 18px;
        --fs-2md: 18px;
        --fs-3md: 20px;
        --fs-lg: 26px;
        --fs-2lg: 27px;
        --fs-3lg: 30px;
        --fs-xl: 35px;
        --fs-2xl: 40px;
        --fs-3xl: 49px;
        --fs-xxl: 50px;
    }
}

@media (min-width:768px) {
    :root {
        --fs-xs: 12px;
        --fs-2xs: 14px;
        --fs-3xs: 15px;
        --fs-sm: 16px;
        --fs-2sm: 18px;
        --fs-3sm: 20px;
        --fs-md: 22px;
        --fs-2md: 24px;
        --fs-3md: 28px;
        --fs-lg: 30px;
        --fs-2lg: 32px;
        --fs-3lg: 36px;
        --fs-xl: 42px;
        --fs-2xl: 45px;
        --fs-3xl: 60px;
        --fs-xxl: 62px;
    }
}

@media (min-width:992px) {
    :root {
        --fs-xs: 12px;
        --fs-2xs: 14px;
        --fs-3xs: 15px;
        --fs-sm: 16px;
        --fs-2sm: 18px;
        --fs-3sm: 20px;
        --fs-md: 22px;
        --fs-2md: 24px;
        --fs-3md: 28px;
        --fs-lg: 36px;
        --fs-2lg: 40px;
        --fs-3lg: 43px;
        --fs-xl: 48px;
        --fs-2xl: 50px;
        --fs-3xl: 74px;
        --fs-xxl: 75px;
    }
}